body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#updates-container {
    margin-top: 20px;
}

.update-box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
